DJANGO_ENV=dev
DEBUG=true
SECRET_KEY=change-me
ALLOWED_HOSTS=localhost,127.0.0.1

DB_NAME=bookstore_inventory
DB_USER=bookstore
DB_PASSWORD=bookstore
DB_HOST=localhost
DB_PORT=5432

LOCAL_CURRENCY=COP
DEFAULT_EXCHANGE_RATE=4000.00
EXCHANGE_RATE_TIMEOUT_SECONDS=5
EXCHANGE_RATE_API_URL=https://api.exchangerate-api.com/v4/latest/USD
STARTUP_EXCHANGE_HEALTHCHECK=true

PAGE_SIZE=20
LOG_LEVEL=INFO
PRICING_MARGIN_PERCENTAGE=40
